body {
  background-color: #CDEFF1;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 17px;
}

.topnav {
  display: flex;
  background-color: #91ACAE;
  width: 100%;
  justify-content: center;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  margin: 10px 20px 10px 20px;
}

.topnav a:hover{
  background-color: #ffb6c1;
}

.topnav a.active {
  background-color: #A2C4C7;
}

#about-me {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 30px;
}

#homepage-photo {
  height: 700px;
  width: 550px;
  padding-right: 50px;
  padding-left: 25px;
}

#title-content {
  padding-left: 50px;
  padding-right: 25px;
  width: 100%;
}
