body {
  background-color: #CDEFF1;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.topnav {
  display: flex;
  background-color: #91ACAE;
  width: 100%;
  justify-content: center;
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px;
  font-size: 20px;
  margin: 10px 20px 10px 20px;
}

.topnav a:hover{
  background-color: #ffb6c1;
}

.topnav a.active {
  background-color: #A2C4C7;
}

#about-me {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}

#homepage-photo {
  height: 700px;
  width: 550px;
  padding-right: 50px;
  padding-left: 25px;
}

#title-content {
  padding-left: 50px;
  padding-right: 25px;
  width: 100%;
  max-width: 50%;
}

#css-concepts {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#margin-border-padding {
  padding: 10px;
  max-width: 50%;
}

#css-concepts-photo{
  padding: 10px;
}

#identity-values {
  margin: 25px;
}

#learning-plan {
  margin: 25px;
}

#javascript-dom {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#java-blog {
  max-width: 50%;
}

#java-dom-photo {
  height: 500px;
  width: 700px;
}

@media only screen and (max-width: 500px) {
  #about-me {
    flex-direction: column;
  }

  #title-content {
    padding-left: 50px;
    padding-right: 25px;
    width: 100%;
    max-width: fit-content;
  }

  #css-concepts {
    flex-direction: column;
  }

  #margin-border-padding {
    padding: 10px;
    max-width: fit-content;
  }

  #javascript-dom {
    flex-direction: column;
  }

  #java-blog {
    max-width: fit-content;
  }
}